# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# Environment variables
*.env

# Jupyter
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Secrets or configs
credentials.json

# Output directory
#outputs/

preprocessing_output/
retrieval_outputs/